<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="h-dvh bg-light text-dark dark:bg-dark dark:text-light">
    <main class="max-w-[800px] mx-auto h-full">
      <div class="flex flex-col min-h-full p-4 gap-4">
      <div class="flex-1">
        {{ content }}
        </div>
      <footer class="block w-fit mx-auto">    
        <a href="https://luximus.eu/" >
          &copy; Luximus | 2024 - Present
        </a>
      </footer>
      </div>
    </main>
  </body>
</html>